{
  "origin": "http://host.docker.internal:3210",
  "deployKey": "010472798f03c29afd21824e3713c780abf0059f408ffd3cd1d5bb73dc677bcace33cdf7e4",
  "destination": { "kind": "duckdb_local", "path": "/data/local.duckdb" }
}
